<div class="dashboard">
  <div class="title-container">
    <h2>Dashboard</h2>
    <a href="/thoughts/add">Criar pensamento <i class="bi bi-lightbulb-fill"></i></a>
  </div>
  <h3>Seus pensamentos</h3>
</div>