<h1>Minha dashboard</h1>
<p>Agora tenho certeza que você está autenticado!</p>

<ul>
  {{#each cars}}
  {{> carsPartials}}
  {{/each}}
  {{#each cars}}
  {{> carsPartials}}
  {{/each}}
  {{#each cars}}
  {{> carsPartials}}
  {{/each}}
  {{#each cars}}
  {{> carsPartials}}
  {{/each}}
  
</ul>

<a href="/">Voltar para a home</a>