* {
  padding: 0;
  margin: 0;
  font-family: "Poppins";
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


h1 {
  color: #16379d;
  margin-bottom: 1em;
  font-size: 1.4em;
}

.bold {
  font-weight: bold;
  color: #16379d;
}

h1 {
  text-align: center;
  cursor: pointer;
  transition: .4s;
  padding-bottom: 0.5em;
  border-bottom: 1.5px solid #16379d;
  ;
}

h1:hover {
  transform: scale(1.01);
  color: #ffd400;
  border-bottom: 1.5px solid #ffd400;
}
