* {
  padding: 0;
  margin: 0;
  font-family: "Poppins";
  box-sizing: border-box;
}


h1 {
  color: #16379d;
  margin-bottom: 1em;
  font-size: 2.1em;
}

.bold {
  font-weight: 900;
  color: #16379d;
}