* {
  padding: 0;
  margin: 0;
  font-family: "Poppins";
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


h1 {
  color: #16379d;
  margin-bottom: 1em;
  font-size: 1.4em;
}

.bold {
  font-weight: bold;
  color: #16379d;
}