<h1 style="text-align: center;">Todos os bolos</h1>
<div class="cakes">
    {{#each cakes}}
    <div class="cake">
        <img src="{{this.image}}" alt="{{this.name}}">
        <h3>{{this.name}}</h3>
        <p>{{this.price}} Reais</p>
    </div>
    {{/each}}
</div>