<div class="container-main">
  <div class="container-products">
    {{#with product}}
      <h1>{{nameproduct}}</h1>
      <h3>{{idproduct}}</h3>
      <p>Preço - {{priceproduct}}</p>
    {{/with}}
  </div>
  <div class="voltar">
    <button><a href="/">Adicionar produto</a></button>
  </div>
</div>