/* Funcionará tanto para adocoes quanto para pets cadastrados. */
.petslist_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
  width: 100%;
  justify-content: center;
}
.petslist_header h1 {
  width: 100%;
}

.sem {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.petslist_header a, .petslist_header a.link {
  border-radius: 8px;
  background-color: #16379d;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: bold;
  transition: 0.5s;
  margin-bottom: 1em;
  padding: 0.5em 1em;
  margin-top: 0.5em;
}

.petslist_header a.link {
  padding: 0.4em 0.8em;
  margin-bottom: 0.8em;
  margin-top: 0em;
}

.petslist_header a:hover {
  transform: scale(1.01);
  background-color: #0501fe;
}

.petslist_container {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  width: 100%;
  padding: 1em;
  background-color: #EBEBEB;
  border-radius: 4px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  justify-content: center;
}

.teste {
  width: 100%;
}

.pet {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1.5px solid black;
  padding: 1em;
  margin-bottom: 1em;
  background-color: #fff;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.pet p {
  font-size: 0.7em;
  text-transform: uppercase;
  margin-top: 0.4em;
  border-bottom: 1.5px solid #565656;
  text-align: center;
  width: 100%;
  color: #16479d;
  font-weight: 600;
}

.petlist_row {
  border-bottom: 1px solid #16479d;
  padding: 1em;
  margin: 1em;
  display: flex;
  align-items: center;
  width: 100%;
}



.actions {
  margin-left: auto;
}

.actions a,
.actions button {
  text-decoration: none;
  color: #fff;
  border: 2px solid #16479d;
  border-radius: 5px;
  padding: 8px 16px;
  background-color: #16479d;
  margin-left: 1em;
  cursor: pointer;
  transition: 0.5s;
  font-size: 12px;
  font-weight: bold;
}

.actions a i,
.actions button i {
  font-size: 12px;
  margin-left: 5px;
}



.actions a:hover {
  background-color: green;
  color: #fff;
  border: 2px solid green;
  
}

.actions button:hover {
  background-color: red;
  color: #fff;
  border: 2px solid red;
}

.actions .conclude_btn {
  color: #25b456;
  border-color: #25b456;
}

.actions .conclude_btn:hover {
  color: #fff;
  background-color: #25b456;
}

/* my adoptions */
.contacts {
  margin-left: 2em;
}

.contacts p {
  margin-bottom: 0.5em;
}

.petslist_header h3 {
  margin: 0 auto;
  font-size: 0.9em;
}

.petslist_header h3 a {
  transition: 0.5s;
  color: #16379d;
  transition: 0.5s;
  border-bottom: 1px solid transparent;
}

.petslist_header h3 a:hover {
  color: #0501fe;
  border-bottom: 1px solid #16379d;
}
