* {
    margin: 0px;
    padding: 0;
}

body {
    font-family: 'Helvetica';
}


.cabecalho {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    height: 50px;
    background-color: darkkhaki;
    border: 1px solid black;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    background-color: lightblue;
    height: 100vh;
}

.container-main {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
}

.titulo-form {
    padding: 10px;
    text-decoration: underline;
}
.form {
    display: flex;
    flex-direction: column;
    width: 350px;
    border: 1px solid black;
    align-items: center;
    border-radius: 8px;
    background-color: darkgoldenrod;
    padding: 10px;
}

.form-control {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    padding: 10px;
}

.form-control label{
    padding-top: 5px;
    padding-bottom: 2px;
    margin-bottom: 5px;
    font-size: 15px;
    border-bottom: 1px solid black;
    text-align: center;
}

.form-control input {
    padding: 4px;

}

.form-submit input {
    padding: 6px 8px;
    background-color: green;
    border: none;
    border-radius: 4px ;
    border: 1px solid black;
    cursor: pointer;
    transition-duration: 500ms;
}

.form-submit input:hover {
    background-color: lightgreen;
}

.verprodutos button {
    background-color: cornflowerblue;
    padding: 6px 10px;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
    border: 1.5px solid black;
    cursor: pointer;
    transition-duration: .5s;
}

.verprodutos button:hover {
    background-color: lightblue;
}

.verprodutos button a {
    text-decoration: none;
    color: darkblue;
}

.container-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1.5px solid black;
    padding: 15px;
    margin-top: 10px;
    border-radius: 6px;
    background-color: ghostwhite;
    width: 70%;
}

.container-products h1 {
    border-bottom: 1px solid black;
    margin-bottom: 5px;
}
.voltar button {
    background-color: cornflowerblue;
    padding: 6px 10px;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
    border: 1.5px solid black;
    cursor: pointer;
    transition-duration: .5s;
}

.voltar button:hover {
    background-color: lightblue;
}

.voltar button a {
    text-decoration: none;
    color: darkblue;
}