.footer {
    display: flex;
    background-color: #DDC500;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #6656;
    padding: 1em;
}

.footer p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.desc {
    font-size: 0.8em;
}