.mypets_container{
   display: flex;
   flex-direction: column;
   padding: 0 1em 1em 1em;
}

.mypets_container h2 {
    margin: 0 auto;
    font-size: 0.9em;
}
.mypets_container h3 {
    margin: 0 auto;
    font-size: 0.9em;
}

.mypets_container h3 a {
    transition: .5s;
    color: #16379d;
    transition: .5s;
    border-bottom: 1px solid transparent;
}

.mypets_container h3 a:hover {
    color: #0501FE;
    border-bottom: 1px solid #16379d;
}